.filtered {
    background: #00103f;
    position: relative;
    z-index: 1;
}

.filtered img {
    opacity: 0.15;
}

.img-container {
    overflow: hidden;
    position: absolute;
    height: 60%;
}

.img-poster {
    overflow: hidden;
    display: block;
    width: 100%;
}

.image {
    position: absolute;
    top: 9.5%;
    left: 10%;
    max-height: 55%;
    z-index: 2;
    border-radius: 7px;
}

.content {
    position: absolute;
    width: 50%;
    height: 40%;
    margin: 5% 50% 0 35%;
    /*top, right, bottom, left */
    z-index: 3;
    color: white;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.title {
    font-weight: 700;
    font-size: 2.2rem;
}

.dot {
    height: 5px;
    width: 5px;
    margin-bottom: 3px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.tagline {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
    opacity: 0.8;
}

.overview-title {
    font-weight: 700;
    font-size: 1.3rem;
}