<div class="contain">
    <div class="div">
        <div class="filter">
            <img class="poster" src="{{ backImgUrl }}">
        </div>
        <div>
            <div>
                <img class="image" src="{{ posterImgUrl }}">
            </div>
            <div class="details">
                <div>
                    <h2>
                        <span class="title">{{ movie.original_title }}&nbsp;</span>
                        <span>({{ movie.release_date | slice: 0:4 }})</span>
                    </h2>
                </div>

                <div>
                    <span>{{ movie.release_date | date: "dd/MM/yyyy" }}</span>
                    <span>(</span>
                    <span *ngFor="let genre of movie.production_countries; let isLast= last">{{ genre.iso_3166_1 }}{{ isLast ? "" : ", " }}</span>
                    <span>)</span>
                    <span>&nbsp;&nbsp;</span>
                    <span class="dot"></span>
                    <span>&nbsp;&nbsp;</span>
                    <span *ngFor="let genre of movie.genres; let isLast= last">{{ genre.name }}{{ isLast ? "" : ", " }}</span>
                    <span>&nbsp;&nbsp;</span>
                    <span class="dot"></span>
                    <span>&nbsp;&nbsp;</span>
                    <span>{{ hour }}h</span>
                    <span>{{ minute }}m</span>
                </div>

                <div class="tagline">
                    <span>{{ movie.tagline }}</span>
                </div>

                <div>
                    <h3 class="overview-title">Overview</h3>
                    <p>{{ movie.overview }}</p>
                </div>

                <span *ngFor="let crew of credits.crew">
                  <ul *ngIf="(crew.job === 'Director') || (crew.job === 'Screenplay' || crew.job ==='Writer')" >
                    <li class="name">{{ crew.name }}</li>
                    <li class="job">{{ crew.job }}</li>
                  </ul>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row tap">
        <div *ngFor="let cast of credits.cast; index as i;">
            <div *ngFor="let img of personImagesAll; index as j">
                <div class=" card2" *ngIf="img.id == cast.id && img.profiles.length !== 0 && i < 10">
                    <img class="poster" src="https://image.tmdb.org/t/p/w154{{img.profiles[0].file_path}}" (click)="select(img.id)">
                    <p class="char title thick ">{{cast.name}}</p>
                    <p class="char">{{cast.character}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<p>sdgasdgasgd</p>

<hr>

<p>sdgasdgasgd</p>