<!-- <div class="filtered img-container"> -->
<!-- <img class="img-poster" src="https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/{{movie.backdrop_path}}"> -->
<!-- <div>
        <img src="https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/{{movie.poster_path}}">
    </div>
</div> -->

<!-- 
<img class="img-poster" src="https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/{{movie.backdrop_path}}">
<img class="image2"src="https://image.tmdb.org/t/p/w342/{{movie.poster_path}}"> -->


<div>

    <div class="filtered img-container">
        <img class="img-poster" src="https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/{{movie.backdrop_path}}">
    </div>
    <div>

        <img class="image2" src="https://image.tmdb.org/t/p/w342/{{movie.poster_path}}">
        <div class="content">
            <div>
                <h2><span class="title">{{movie.original_title}}
                    </span><span>({{movie.release_date | slice:0:4}})</span></h2>
            </div>
            <div>
                {{movie.release_date | date:'dd/MM/yyyy'}}
            </div>
        </div>
    </div>
</div>