.base {
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.one{
    height: 50%;
    width: 50%;
    text-align: center;

}
.size{
    width: 20%;
}

.text-center {
    text-align: center;
}
.padding{
    padding:5px;
}
.card {

    background-size: cover;
    background-position: center;
    top: -15px;
    left: -30px;
    border: 0;
    /* border-radius: 50%/50%; */
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}